
MatrixUnitTestsHW/.vs/MatrixUnitTestsHW/FileContentIndex/19273552-4d04-4817-a2e2-b9920cb00473.vsidx

MatrixUnitTestsHW/.vs/MatrixUnitTestsHW/FileContentIndex/884fe920-3825-4ab0-a938-d2a63110cbea.vsidx

MatrixUnitTestsHW/.vs/MatrixUnitTestsHW/v17/.suo

MatrixUnitTestsHW/.vs/MatrixUnitTestsHW/v17/DocumentLayout.backup.json

MatrixUnitTestsHW/.vs/MatrixUnitTestsHW/v17/DocumentLayout.json

MatrixUnitTestsHW/MatrixUnitTestsHW/bin/Debug/MatrixUnitTestsHW.dll

MatrixUnitTestsHW/MatrixUnitTestsHW/bin/Debug/MatrixUnitTestsHW.pdb

MatrixUnitTestsHW/MatrixUnitTestsHW/bin/Debug/nunit_random_seed.tmp

MatrixUnitTestsHW/MatrixUnitTestsHW/obj/Debug/MatrixUnitTestsHW.csproj.AssemblyReference.cache

MatrixUnitTestsHW/MatrixUnitTestsHW/obj/Debug/MatrixUnitTestsHW.csproj.CoreCompileInputs.cache

MatrixUnitTestsHW/MatrixUnitTestsHW/obj/Debug/MatrixUnitTestsHW.csproj.FileListAbsolute.txt

MatrixUnitTestsHW/MatrixUnitTestsHW/obj/Debug/MatrixUnitTestsHW.dll

MatrixUnitTestsHW/MatrixUnitTestsHW/obj/Debug/MatrixUnitTestsHW.pdb

MatrixUnitTestsHW/.vs/MatrixUnitTestsHW/v17/
